.wrapper {
  height: 200px;
  width: 200px;
  position: relative;
  border: 3px solid black;
  /* background: url('../../images/profile/2.png'); */
  background-size: 100% 100%;
  margin: 30px auto;
  overflow: hidden;
}

img {
  height: 200px;
  width: 200px;
  position: relative;
}

.my_file {
  position: absolute;
  bottom: 0;
  outline: none;
  color: transparent;
  width: 100%;
  box-sizing: border-box;
  padding: 85px 45px;
  cursor: pointer;
  transition: 0.5s;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
}

.my_file::-webkit-file-upload-button {
  visibility: hidden;
}

.my_file::before {
  display: inline-block;
  -webkit-user-select: none;
}

.my_file::after {
  content: 'Choose images';
  font-family: 'arial';
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  display: block;
  top: 100px;
  position: absolute;
}
.my_file:hover {
  opacity: 1;
}

.glow-on-hover .fas {
  text-decoration: none;
  color: black;
  border-radius: 50%;
  cursor: pointer;
}

.glow-on-hover {
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    color: #000000;
    background-color: #ffffff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 50%;
    float: left;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 50%;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffffff;
    left: 0;
    top: 0;
    border-radius: 50%;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
